$color-primary:#fff;
$text-primary:#313e5d;
$icons-color:#ff0040;
$heading-color:#0d2252;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);
